<ion-view view-title="{{vm.dTitle}}" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-back" on-tap="vm.goBack()"></button>
    </ion-nav-buttons>
    <ion-content class="has-footer">
        <div class="body-scroller">
            <!--<ion-list>-->
                <!--<ion-item-->
                        <!--ng-repeat="user in vm.users"-->
                        <!--ng-click="vm.chooseUsersDetail(user.id)"-->
                        <!--class="{{vm.selected[user.id].selected?'checked':''}}"-->
                <!--&gt;-->
                    <!--{{user.realName}}-->
                <!--</ion-item>-->
            <!--</ion-list>-->

            <ion-list class="leader-list">
                <ion-item ng-repeat="list in vm.users"
                          ng-click="vm.chooseUsersDetail(list.id)"
                          ng-class="{'checked': vm.selectedLeaders[list.id].selected}">
                    <span style="vertical-align: middle">{{list.realName}}</span>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left">
        <div class="body-scroller text-center">
            <button class="button button-positive btn-style" on-tap="vm.goBack()">确认</button>
        </div>
    </ion-footer-bar>
    <div class="loading-mask" class="loading-mask" ng-if="vm.isActive"></div>
</ion-view>