<ion-view view-title="会议详情" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button class="button button-icon icon ion-ios-arrow-back" ng-click="vm.goBack()"></button>
	</ion-nav-buttons>
	<ion-content class="">
		<div class="body-scroller">
			<ion-list class="mb10 c4A f16 ">
				<ion-item class="subscribe item-borderless">
					<div class="row">
						<div class="col col-75 " ng-if="vm.isEdit == false">{{vm.conference.info.name}}</div>
						<div class="col col-75 " ng-if="vm.isEdit == true">
							<input type="text" maxlength="35" ng-if="vm.isDetail" style="margin-top: -5px;width: 80%;" ng-model="vm.meetingTitle"/>
						</div>
					</div>
				</ion-item>
				<ion-item class="subscribe item-borderless">
					<div class="row">
						<div class="col col-25 titleMeet-25">日期</div>
						<div class="col col-75 ar">
							<!--{{vm.conference.info.startTime | date:'yyyy-M-dd'}}-->
							<!--&nbsp;-->
							<!--<span >{{vm.conference.info.meetingTime}}</span>-->
							<span class="small-text"
								  ng-if="vm.conference.info.meetingTime.length>=18">
                                {{vm.conference.info.meetingTime}}
                            </span>
							<span ng-if="vm.conference.info.meetingTime.length<18" >{{vm.conference.info.meetingTime}}</span>

							<!--<span ng-if="vm.conference.reserves[0].reserveType==2">下午</span>-->
							<!--<span ng-if="vm.conference.reserves[0].reserveType==3">全天</span>-->
						</div>
						<!-- <div class="padding0" style="width:90px">会议时间 :</div> -->
					</div>
				</ion-item>
				<ion-item class="subscribe item-borderless">
					<div class="row">
						<div class="col col-25 titleMeet-25">地点</div>
						<div class="col col-75 ar">{{vm.conference.info.boardroomName}}</div>
					</div>
				</ion-item>
				<ion-item class="subscribe item-borderless">
					<div class="row">
						<div class="col col-25 titleMeet-25">发布人员</div>
						<div class="col col-75 ar">{{vm.conference.info.createUserName}}</div>
					</div>
				</ion-item>
				<ion-item class="subscribe item-borderless">
					<div class="row">
						<div class="col col-25 titleMeet-25">发布单位</div>
						<div class="col col-75 ar">{{vm.conference.info.deptName}}</div>
					</div>
				</ion-item>
				<ion-item class="subscribe item-borderless">
					<div class="row">
						<div class="col col-25 titleMeet-25">联系电话</div>
						<div class="col col-75 ar" ng-click="vm.nativeCall(vm.conference.info.telephone)">{{vm.conference.info.telephone}}</div>
					</div>
				</ion-item>
				<ion-item class="subscribe item-borderless" ng-if="vm.from == 'subscribe'">
					<div class="row">
						<div class="col col-25 titleMeet-25">预订状态</div>
						<div class="col col-75 ar">
							<span ng-if="vm.conference.info.status == 1">待审核</span>
							<span ng-if="vm.conference.info.status == 2">审核通过</span>
							<span ng-if="vm.conference.info.status == 3">审核未通过</span>
						</div>
					</div>
				</ion-item>


				<div class="split"></div>
				<ion-item class="subscribe item-borderless">
					<div class="up-down-block">
						<div class="title title-gray">与会领导</div>
						<div class="" ng-if="vm.isEdit == true">
							<span  class="iconEdit right-text" ng-click="vm.chooseUsers()"></span>
							<div class="text-ww">
								<label ng-model="vm.memberNames">{{vm.memberNames}}</label>
							</div>
						</div>
						<div class="" ng-if="vm.isEdit == false">
                            <div class="avatar-wrapper" ng-if="vm.conference.leaders && vm.conference.leaders.length">
                                <span ng-repeat="item in vm.conference.leaders">
                                    {{item.realName}}<span ng-if="!$last">,&nbsp;</span>
                                </span>
                            </div>
							<div ng-if="!vm.conference.leaders || !vm.conference.leaders.length">
								暂无与会领导
							</div>
						</div>
					</div>
				</ion-item>
				<!--<div class="split"></div>-->
				<!--<ion-item class="subscribe item-borderless">-->
					<!--<div class="up-down-block">-->
						<!--<div class="title">参会人员</div>-->
						<!--<div class="" ng-if="vm.isEdit == true">-->
							<!--<span  class="iconEdit right-text" ng-click="vm.chooseUsers()"></span>-->
							<!--<div class="text-ww">-->
								<!--<label ng-model="vm.memberNames">{{vm.memberNames}}</label>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="" ng-if="vm.isEdit == false">-->
							<!--<div class="row">-->
								<!--<div class="avatar-up-down col col-20" ng-repeat="item in vm.conference.participants">-->
									<!--<span ng-model="item.memberNames">{{item.realName}}</span>-->
								<!--</div>-->
							<!--</div>-->

						<!--</div>-->
					<!--</div>-->
				<!--</ion-item>-->
				<div class="split"></div>
				<ion-item class="subscribe item-borderless">
					<div class="up-down-block">
						<div class="title title-gray">会议内容</div>
						<div class="" ng-if="vm.isEdit == true">
						</div>
						<div class="" ng-if="vm.isEdit == false">
							<div class="">

								<span ng-if="vm.conference.info.content">
									{{vm.conference.info.content}}
								</span>
								<span ng-if="!vm.conference.info.content">
									暂无会议内容！
								</span>
							</div>
						</div>
					</div>
				</ion-item>

				<div class="split"></div>

				<ion-item>
					<div class="row">
						<div class="col col-25 detail-icon" ng-click="vm.toMore('file')">
                            <i class="icon-file"></i>
							<div class="detail-icon-text">会议文件</div>
						</div>
						<div class="col col-25 detail-icon" ng-click="vm.toMore('address')">
                            <i class="icon-address"></i>
							<div class="detail-icon-text">详细地址</div>
						</div>
						<div class="col col-25 detail-icon" ng-click="vm.toMore('notice')">
                            <i class="icon-notice"></i>
							<div class="detail-icon-text">会议须知</div>
						</div>
						<div class="col col-25 detail-icon" ng-click="vm.toMore('members')">
                            <i class="icon-participant"></i>
							<div class="detail-icon-text">与会人员</div>
						</div>
                    </div>
                    <div class="row">
                        <div class="col col-25 detail-icon" ng-click="vm.toMore('group')">
                            <i class="icon-group"></i>
                            <div class="detail-icon-text">会议分组</div>
                        </div>
                        <div class="col col-25 detail-icon" ng-click="vm.toMore('schedule')">
                            <i class="icon-schedule"></i>
                            <div class="detail-icon-text">日程信息</div>
                        </div>
                        <div class="col col-25 detail-icon" ng-click="vm.toMore('dinner')">
                            <i class="icon-dinner"></i>
                            <div class="detail-icon-text">用餐信息</div>
                        </div>
                        <div class="col col-25 detail-icon" ng-click="vm.toMore('staff')">
                            <i class="icon-staff"></i>
                            <div class="detail-icon-text">会务人员</div>
                        </div>
					</div>
				</ion-item>

				<div class="split"></div>

				<ion-item class="subscribe item-borderless" ng-if="vm.conference.info.remark">
					<div class="up-down-block">
						<div class="title title-gray">会议说明</div>
						<span>
							{{vm.conference.info.remark}}
						</span>
					</div>
				</ion-item>
				<!--<ion-item ng-if="vm.isDetail" class="subscribe item-borderless">-->
					<!--<div class="row padding0">-->
						<!--<div class="col col-26 titleMeet-25">通知提醒 :</div>-->
						<!--<div class="right-text col-75">-->
							<!--<select ng-model="vm.noticeSelect" class="noticeSelect cgold">-->
								<!--<option value="2" selected="selected">会前2小时</option>-->
                                <!--<option value="1">会前1小时</option>-->
                                <!--<option value="0.5">会前半小时</option>-->
								<!--<option value="0">不提醒</option>-->
							<!--</select>-->
						<!--</div>-->
					<!--</div>-->
				<!--</ion-item>-->

			</ion-list>
		</div>
	</ion-content>
	<ion-footer-bar ng-if="vm.isDetail" align-title="left">
		<div class="body-scroller text-center">
			<button class="button button-positive btn-style" ng-click="vm.saveBtnClick()" >保存并通知与会人员</button>
		</div>
	</ion-footer-bar>
	<div class="loading-mask" class="loading-mask" ng-if="vm.isActive"></div>
</ion-view>
