<ion-view title="历史会议" hide-back-button="true">
	 <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-back" ng-click="vm.goBack()"></button>
    </ion-nav-buttons>
	<ion-content class="has-header" overflow-scrolling="false">
		<ion-refresher ng-if="vm.listItem.length != 0" pulling-text="下拉刷新" on-refresh="vm.pushRefresh()"></ion-refresher>
		<!--<div class="list-default" ng-if="vm.listItem.length == 0">暂无内容</div>-->
		<ion-list ng-if="vm.listItem.length != 0">
			<ion-item ng-repeat="list in vm.listItem"
					  class="item item-thumbnail-left conference-brief">
				<div class="row" ui-sref="conferenceDetail({id: list.id, flag: 1})">
					<div class="col col-20 ">
						{{list.name}}
					</div>
					<div class="col col-80 ar orange">
						9:00-10:00
					</div>
				</div>
				<div class="row" ui-sref="chooseUsers({id: list.roomSub[0]['id.s'], flag: 3})">
					<div class="col col-50">
						{{list.createUserName}}
						<span class="boardroom-name">
                            {{list.boardroomName}}
                        </span>
					</div>
					<div class="col col-50 ar orange">
						2018-05-12
					</div>
				</div>
			</ion-item>
		</ion-list>
		<div class="dataAll" ng-show="!vm.disabled" ng-bind="vm.dataTips"></div>

		<ion-infinite-scroll on-infinite="vm.nextPage()" distance="1%" ng-if="vm.disabled" immediate-check="false"></ion-infinite-scroll>
	</ion-content>
	<div class="loading-mask" class="loading-mask" ng-if="vm.isActive"></div>
</ion-view>