html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, input, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, fieldset,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,button {
    margin: 0;
    padding: 0;
    font-family: $font-family-base;
    @include box-sizing(border-box);
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
ul, ol, li {
    list-style: none;
}
em, i {
    font-style: normal;
}
img {
    border: 0;
    vertical-align: middle;
}
textarea {
    vertical-align: top;
	resize: none;
}
body {
    line-height: $line-height-small;
    background: $gray-eee;
    color: $base-color;
    @include font-shorthand($font-size-base, normal, $line-height-small);
}
a, a:visited, a:hover, a:focus {
    color: $link-color;
    text-decoration: none;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
}
a:hover {
    color: $link-hover-color;
    text-decoration: none;
}
a:focus {
    outline: 0;
}

input[type="text"], input[type="search"] {
    outline: 0;
}
button, select:focus, input:focus, textarea:focus {
    outline: 0;
}
